<figure class="card">


    <div class="card__title-box">
        <p class="card__title">{%PRODUCTNAME%}</p>
    </div>

    <div class="card__details">
    </div>
    <a class="card__link" href="/product?id={%ID%}">
        <span>Detail <i class="emoji-right">👉</i></span>
    </a>
</figure>