<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Підписати петицію</title>
    <link rel="stylesheet" href="../public/petition-form-styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="form-box">
        <p class="caption">Підписати петицію "<span><%=PETITION_TITLE%></span>"</p>
        <label for="password">Введіть пароль</label>
        <div class="input-container">
            <input type="password">
            <span class="eye-icon"><i class="bi bi-eye-slash hide-icon"></i></span>
        </div>
        <div class="buttons">
            <button class="form-btn casual-btn">Підписати</button>
            <button class="form-btn casual-btn">Скасувати</button>
        </div>
    </div>
</body>
</html>