<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація</title>
    <link rel="stylesheet" href="/styles1.css">
</head>
<script>

</script>

<body>
<div class="auth-container">
    <form action="/login" method="POST" class="auth-form">
        <label for="login">Введіть логін</label>
        <input type="text" name="username" required placeholder="User1">

        <label for="password">Введіть пароль</label>
        <div class="password-container">
            <input type="password" name="password" required placeholder="********">
            <button type="button" class="toggle-password">👁</button>
        </div>

        <a href="#" class="forgot-password">Забули пароль?</a>

        <button type="submit" class="auth-button">Увійти</button>

        <p class="switch-auth">Немає облікового запису? <a href="/register">Реєстрація</a></p>
    </form>
</div>

</body>
</html>
